body {
  margin: 0;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
.top {
  background-color: black;
  display: flex;
  flex-direction: row;
}
.ace_scrollbar {
  width: 15px !important;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.ace_scrollbar-h {
  overflow-x: hidden !important;
}
.ace_gutter {
  background-color: rgb(29, 31, 33) !important;
  color: rgb(50, 51, 52) !important ;
}
.editor-title {
  display: flex;
  width: fit-content;
  font-weight: bolder;
  background-color: rgb(29, 31, 33);
  color: rgb(170, 174, 188);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.editor-title img {
  width: 18px;
  height: 18px;
  padding-right: 7px;
}
.ace-editor-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  width: unset !important;
  height: unset !important;
}

.gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}
